/* style from tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Dark mode */
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%; /* Make sure the html and body elements take up full viewport height */
  margin: 0;
}

main {
  min-height: 100vh; /* Make sure main content stretches to full viewport height */
  display: flex;
  flex-direction: column;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .custom-gradient {
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 0.8),
      rgba(var(--background-end-rgb), 0.8)
    );
  }
}